<div class ="show-container">
  <div class="row">
    <div class="col-6">
      <div class="p-3"><h5><strong><%= @surfspot.name %></strong></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"><%= @surfspot.location %></h6>
      </div>
    </div>
    <div class="col-6 ">
      <div class="p-3 d-flex justify-content-end"><button type="button" class="button">Follow</button>
      <button type="button" class="button"><i class="fa-solid fa-bell"></i></button>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center mx-auto p-2 border-top border-bottom">
      <%= image_tag @surfspot.image_url, class: "rounded-3" %>
    </div>
  </div>
  <div class="row justify-content-center m-2">
    <div class="col-12">
      <%= render "shared/post" %>
    </div>
  </div>
</div>
