// Define variables for your color scheme

// For example:

$blue: #00808B;
$light-blue: #BEDFDC;
$sand: #CC8F4D;
$gray: #0E0000;
$light-gray: #F5F8F9;

// Regular colors
$green: green;
$yellow: yellow;
$red: red;
$orange: orange;
