<footer class="d-flex flex-column align-items-center justify-content-around w-100 pt-5 pb-3 border-to bg-white" id="footer">
  <%= link_to image_tag("SurfBuddy_logo.png", class: "logo"), root_path %>
  <div class="py-3 d-flex flex-column align-items-center">
    <%= link_to "My spots", favourites_path, class: "footer-link" %>
    <%= link_to "Home", root_path, class: "footer-link" %>
  </div>
  <p><i class="fa-regular fa-copyright"></i> 2024, SurfBuddy, Inc.</p>
</footer>
