<div class="container px-4">

  <% if @alerts.empty? %>
    <h2 class="text-center pt-5 pb-4"><em>You have no alerts<br>at the moment</em></h2>
  <% else %>
    <h2 class="text-center pt-5 pb-4">ALERTS</h2>
    <div class="row">

      <% @posts.reverse_each do |post| %>
        <div class="col-12 col-lg-4">
          <%= render 'posts/alertpost', post: post %>
        </div>
      <% end %>


    </div>



  <% end %>

</div>
