<div class="container px-4">
  <h2 class="text-center pt-5 pb-4">ALERTS</h2>
  <% @alerts.each do |alert| %>
    <% alert.favourite.posts.each do |post|  %>
      <div class="card mb-3" style="max-width: 540px;"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Wave</h5>
            <p class="card-text"><%= post.wave_period %> <%= post.wave_direction %> <%= post.ripple %></p>
            <p class="card-text"><small class="text-body-secondary"><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
