<div class="container px-4">
  <h2 class="text-center pt-5 pb-4">ALERTS</h2>
  <div class="row">
    <% @alerts.each do |alert| %>
      <% alert.favourite.posts.each do |post|  %>
        <div class="col-12 col-lg-4">
          <%= render "posts/post", post: post %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
