<div class="d-flex align-items-center">
  <div class="ms-2">
    <%= image_tag icon, class: "icon" %>
  </div>

  <div class="flex-grow-1">
    <p class="card-title mx-3 mb-0 text-center"><strong><%= title %></strong></p>
    <p class="card-text mx-3 text-center"><%= metric %></p>
  </div>
</div>
